<div class="content">
    <div class="grid-template">
    <h1>Estudios</h1>
<div class="text-content">
    <h5>Educación Formal</h5>
    <ul>
    <li>Técnico Superior de Diseño de Aplicaciones Web </li>
    <li>Técnico Medio en Gestión Administrativa</li>
    <li>Educación Secundaria Obligatoria</li>

</ul>
<h5>Certificaciones y Cursos</h5>
    <ul>
        <li>Certificado de Angular 16</li>
        <li>Certificado de Gestión de Inglés Comercial</li>
        <li>Certificado de Diseño de Páginas Web y Multimedia</li>
        <li>Certificado de Informática - Ofimática</li>
        <li>Certificado de Auxiliar administrativo</li>
    </ul>

</div>
</div>

</div>
<hr id="experience">