<div class="content">
  <div class="grid-template">
    <h1>{{'Estudios'| translate}}</h1>
    <div class="text-content">
      <h5>{{'Educación Formal' | translate}}</h5>
      <ul>
        <li>{{'Técnico Superior de Diseño de Aplicaciones Web' | translate}}</li>
        <li>{{'Técnico en Gestión Administrativa' |translate}}</li>
        <li>{{'Educación Secundaria Obligatoria' |translate}}</li>
      </ul>
      <h5>{{'Certificaciones y Cursos'|translate}}</h5>
      <ul>
        <li>{{'Certificado de Angular 16'| translate}}</li>
        <li>{{'Certificado de Gestión de Inglés Comercial'| translate}}</li>
        <li>{{'Certificado de Diseño de Páginas Web y Multimedia'| translate}}</li>
        <li>{{'Certificado de Paquete de Microsoft 365'| translate}}</li>
        <li>{{'Certificado de Auxiliar Administrativo'| translate}}</li>
      </ul>
    </div>
  </div>
</div>
<hr id="experience" />
