<div class="content">
    <h1>Skills</h1>
    <div class="skills">
   <div class="ico-angular"> <img src="../../../assets/imagenes/angular.png" alt="angular">Angular</div>
   <div class="ico-react"> <img src="../../../assets/imagenes/react.png" alt="react">ReactJs</div>
    <div class="ico-ts"><img src="../../../assets/imagenes/typescript.png" alt="typescript">TypeScript</div>
    <div class="ico-js"><img src="../../../assets/imagenes/js.png" alt="javascript">JavaScript</div>
    <div class="ico-php"><img src="../../../assets/imagenes/php.png" alt="php">PHP</div>
    <div class="ico-drupal"><img src="../../../assets/imagenes/drupal.png" alt="drupal">Drupal</div>
    <div class="ico-html"><img src="../../../assets/imagenes/html.png" alt="html">HTML</div>
<div class="ico-css"><img src="../../../assets/imagenes/css.png" alt="css">CSS</div>
<div class="ico-mysql"><img src="../../../assets/imagenes/mysql.png" alt="mysql">MySQL</div>
<div class="ico-git"><img src="../../../assets/imagenes/git.png" alt="mysql">Git</div>
</div>
</div>
