.content {
  display:flex;
  flex-direction:column;
  gap:20px;

  }
  
  img {
  width:100px;
  height:auto;
  border-radius:120px
  }
  
  .ico-ts img,.ico-mysql img,.ico-drupal img,.ico-bootstrap,.ico-firebase,.ico-tailwind,.ico-github,.ico-docker,.ico-symfony,.ico-ionic {
  border:2px solid #fff
  }
  
  .skills {
  display:grid;
  justify-content:center;
  align-items:center;
  grid-template-columns:1fr;
  gap:25px
  }
  
  [class^="ico-"] {
  background-color:var(--bg1);
  border-radius:10px;
  padding:20px 30px;
  border:2px solid #3b3a3a;
  display:flex;
  flex-direction:column;
  gap:10px;
  justify-content:center;
  align-items:center;
  color:var(--p);
  font-weight:700;
  min-height: 200px;
  min-width: 200px;
  }
  
  .ico-ts,.ico-js {
  padding:20px
  }
  
  hr {
  color:#ef1b61;
  border-style:solid;
  border-width:3px;
  margin:20px
  }

  /*---------------*/
  .flip-container {
    perspective: 1000px;
    color:white;
  }
  
  .flipper {
    position: relative;
    width: 200px;
    height: 200px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .ico-symfony{

  }
  .front{
    background-color:var(--bg1);
    border-radius: 10px;
  }
  .back {
    background-color:var(--bg1);
    transform: rotateY(180deg);
    display: flex;
    justify-content: start;
    text-align: start;
    border-radius: 10px;
    color:white;
    padding-top:2px;
    font-size: 14.2px;
  }
  
  .flip-container:hover .flipper {
    transform: rotateY(180deg);
  }
  
  
  @media screen and (min-width: 768px) {
  .skills {
  grid-template-columns:1fr 1fr 1fr 
  }

  }
  
  @media screen and (min-width: 820px) {
  [class^="ico-"] {
  font-size:20px
  }
  }
  
  @media screen and (min-width: 1024px) {
  [class^="ico-"] {
  font-size:22px;
  font-weight:400
  }
  .skills {
    grid-template-columns:1fr 1fr 1fr 1fr
    }

  @media screen and (min-width: 1200px) {
    [class^="ico-"] {
    font-size:18px;
 
    }}
  }