<hr id="skills" />
<div class="content">

  <h1>Skills</h1>
  <div class="skills">
    <div class="flip-container" tabindex="0">
      <div class="flipper">
        <div class="front">
          <img src="../../../assets/imagenes/angular.png" alt="angular" />
          <span>Angular</span>
        </div>
        <div class="back">
          <ul>
            <li>{{"Componentes"|translate}}</li>
            <li>{{"Directivas"|translate}}</li>
            <li>{{"Servicios"|translate}}</li>
            <li>{{"Rutas"|translate}}</li>
            <li>{{"Formularios reactivos"|translate}}</li>
            <li>RJXS</li>
            <li>API rest</li>
            <li>Material UI</li>
          </ul>
        </div>
      </div>
    </div>
 
    <div class="flip-container" tabindex="0">
      <div class="flipper">
        <div class="front">
          <img src="../../../assets/imagenes/react.png" alt="react" />
          <span>React</span>
        </div>
        <div class="back">
          <ul>
            <li>{{"Componentes Funcionales" |translate}}</li>
            <li>Hooks & Custom Hooks</li>
            <li>Context API</li>
            <li>Redux</li>
            <li>{{"Rutas"|translate}}</li>
            <li>JSX</li>
            <li>{{"Eventos y manejo del estado"| translate}}</li>
            <li>Material UI</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ico-ts">
      <img
        src="../../../assets/imagenes/typescript.png"
        alt="typescript"
      />TypeScript
    </div>
    <div class="ico-js">
      <img src="../../../assets/imagenes/js.png" alt="javascript" />JavaScript
    </div>
    <div class="ico-php">
      <img src="../../../assets/imagenes/php.png" alt="php" />PHP
    </div>
    <div class="flip-container" tabindex="0">
      <div class="flipper">
        <div class="front">
          <img src="../../../assets/imagenes/drupal.png" alt="drupal" />
          <span>Drupal</span>
        </div>
        <div class="back">
          <ul>
            <li>{{"Creación y Administración de Contenido"|translate}}</li>
            <li>{{"Desarrollo de Temas y Módulos" |translate}}</li>
            <li>{{"Gestión de Configuración"|translate}}</li>
            <li>Composer</li>
            <li>Drush</li>
            <li>Layout Builder</li>
            <li>Webform</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ico-html">
      <img src="../../../assets/imagenes/html.png" alt="html" />HTML
    </div>
    <div class="ico-css">
      <img src="../../../assets/imagenes/css.png" alt="css" />CSS
    </div>
    <div class="ico-bootstrap">
      <img src="../../../assets/imagenes/bootstrap.png" alt="bootstrap" />Bootstrap
    </div>
    <div class="ico-tailwind">
      <img src="../../../assets/imagenes/tailwind.png" alt="tailwind" />Tailwind
    </div>
    <div class="ico-git">
      <img src="../../../assets/imagenes/git.png" alt="git" />Git
    </div>
    <div class="ico-github">
      <img src="../../../assets/imagenes/github.png" alt="github" />Github
    </div>
    <div class="ico-mysql">
      <img src="../../../assets/imagenes/mysql.png" alt="mysql" />MySQL
    </div>
    <div class="ico-firebase">
      <img src="../../../assets/imagenes/firebase.png" alt="firebase" />Firebase
    </div>
    <div class="ico-docker">
      <img src="../../../assets/imagenes/docker.png" alt="docker" />Docker
    </div>

    <div class="ico-material">
      <img src="../../../assets/imagenes/materialui.png" alt="php" />Material UI
    </div>

  </div>
</div>

