<div class="body">
  <hr />

 
  <a href="https://websmultimedia.com/contador-de-visitas-gratis"> 
    </a
  >
  <a href="http://jackrussell.es"></a>

  <div class="content">
    <div class="text-container">
      <h1>Vanessa Rubio</h1>
      <p>{{ "Desarrolladora Front-end" | translate }}</p>
      <p class="gmail">{{ "dev.vanessa.rubio@gmail.com" }}</p>

      <a href="#contact"
        ><button class="border-transition">
          <span>{{ "Contáctame" | translate }}</span>
        </button></a
      >
    </div>

    <img src="../../assets/imagenes/myself.png" alt="myself" />
  </div>
  <hr id="about" />
  <app-about />

  <app-schooling />
  <app-experience />
  <app-skills />
  <app-contact />
</div>
