@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");
.body {
  display: flex;
  flex-direction: column;
}
.content {
  margin: 0 30px;
  min-height: 430px;
}
hr {
  color: rgb(239, 27, 97);
  border-style: solid;
  border-width: 3px;
  width: calc(100% - 40px);
  margin: 0px 20px 20px 20px;
}
h1,
button {
  color: var(--frst);
}
h1{
 width: max-content;
}
p {
  color: var(--p);
  height: max-content;
  margin-bottom: 10px;
width: min-content;
}
.gmail{
  font-size:12px;
}
.text-container {
  font-family: "Signika Negative", sans-serif;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  padding: 30px 15px 30px 30px;
  text-align: center;
}
button {
  border: 4px solid var(--frst);
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: transparent;
  width: max-content;
}

img {
  border-radius: 10px;
  border: 2px solid var(--p);
  width: 40%;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 40px;
  }
  img {
    width: 30%;
    height: auto;
  }
  p,
  a {
    font-size: 20px;
  }
  p{
    width: max-content;
  }
  .gmail{
    font-size:16px;
  }
}
@media screen and (min-width: 912px) {
  h1 {
    font-size: 46px;
  }
  img {
    width: 40%;
    height: auto;
  }
  p,
  a {
    font-size: 25px;
  }
  .gmail{
    font-size:20px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 50px;
  }
  img {
    width: 25%;
    height: auto;
  }
  p,
  a {
    font-size: 25px;
  }
  .gmail{
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .gmail{
    font-size: 17px;
  }
}
