
<div class="content">

    <h1>Contáctame</h1>
    <form action="https://formspree.io/f/mqkrwbqp" method="POST">
  
      <h5 for="email">Correo</h5>
      <input type="email" name="email" placeholder="Escribe tu correo" required>
      <h5 for="message">Mensaje</h5>
      <textarea name="mensaje" id="message" cols="30" rows="10" placeholder="Escribe aquí tu mensaje" required></textarea>
      <button type="submit" class="submit">Enviar</button>
          </form>
    <!-- <div class="text-content">
    <div class="ico-linkedin"><i class="bi bi-linkedin"></i></div>
    <div class="ico-whatsap"><i class="bi bi-whatsapp"></i></div>
    <div class="ico-gmail"><i class="bi bi-envelope-at-fill"></i></div> -->
    
</div>

<!-- app.component.html -->


  

