<div class="ico-top">
  <a href="#init" class="border-transition">
    <i class="bi bi-arrow-up-square-fill"></i
  ></a>
</div>
<div class="text-content">
  <a
    href="https://www.linkedin.com/in/vanessa-rubio-sanchez"
    class="border-transition"
    target="_blank"
    ><div class="ico-linkedin"><i class="bi bi-linkedin"></i></div
  ></a>
  <a
    href="https://api.whatsapp.com/send?phone=681187468&text=Hola,%20%C2%BFc%C3%B3mo%20est%C3%A1s%3F"
    target="_blank"
    class="border-transition"
  >
    <div class="ico-whatsap"><i class="bi bi-whatsapp"></i></div
  ></a>
  <a
    href="mailto:dev.vanessa.rubio@gmail.com?subject=Mensaje%20desde%20la%20web"
    target="_blank"
    class="border-transition"
  >
    <div class="ico-gmail"><i class="bi bi-envelope-at-fill"></i></div>
  </a>
  <a
    href="https://github.com/vanemp21"
    class="border-transition"
    target="_blank"
  >
    <div class="ico-github"><i class="bi bi-github"></i></div>
  </a>


  <a
  href="../../assets/pdf/vanessa-rubio-curriculum.pdf"
  class="border-transition"
  target="_blank"
>
  <div class="ico-pdf"><i class="bi bi-filetype-pdf"></i></div>
</a>
</div>
