.text-content {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}
.ico-github,
.ico-linkedin,
.ico-whatsap,
.ico-gmail {
  border: 3px solid var(--frst);
  font-size: 25px;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: var(--frst);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

a:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  transition: all 2850ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 1;
  transition-delay: 0.4s;
}

a:hover:after {
  left: 120%;
  transition: all 2850ms cubic-bezier(0.19, 1, 0.22, 1);
}
