<div class="content">
  <h1>{{ "Sobre mi" | translate }}</h1>
  <div class="text-about">
    <h5>{{ "Mi comienzo" | translate }}</h5>
    <p>
      {{ "Mi comienzo texto" | translate }}
    </p>
    <hr />
    <h5>{{ "Mi camino actual" | translate }}</h5>
    <p>
      {{ "Mi camino actual texto" | translate }}
    </p>
    <hr />
    <h5>{{ "Mi futuro" | translate }}</h5>
    <p>
      {{ "Mi futuro texto" | translate }}
    </p>
    <hr />
    <h5>{{ "Para finalizar" | translate }}</h5>
    <p>
      {{ "Para finalizar texto" | translate }}
    </p>
    <hr id="skills" />
  </div>
</div>
