.container {
  display: flex;
  flex-direction: column;
}
.body {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
footer {
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--bg2);
  border-top: 3px solid var(--frst);
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg2);
}


/*..................*/
.traduction{
  display: flex;
  justify-content: end;
  padding:10px 20px;
  align-items: center;
  gap:7px;

}
select{
  border-radius: 10px;
  font-size:12px;
  color:var(--frst);
  background-color: var(--bg2);
  padding:5px 10px;
}
.bi-globe2{
  font-size:20px;
  

}