.container{
    display: flex;
    flex-direction: column;

}
.body{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;

    
}
footer{
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(45, 42, 44);
    border-top:2px solid rgb(36, 28, 28);

}
header{
    width:100%;
    display: flex;
    justify-content: center;
}