hr {
  transform: rotate(90deg);
  color: #ef1b61;
  border-style: solid;
  border-width: 1px;
}

.content {
  display: flex;
  flex-direction: column;
}

.title-exp {
  display: flex;
  justify-content: center;
}

.text-content {
  display: grid;
  grid-template-columns: 0.75fr max-content 0.8fr;
  color: var(--p);
  margin: 0 10px 25px;
}
.personal {
  margin: 0 5px;
}
.text-content-2 {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  color: var(--p);
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--frst);
  margin-bottom: 10px;
  padding-top: 20px;
}
.etiquetas {
  display: grid;
  grid-template-columns: max-content max-content;
  margin-right: 10px;
}
.etiquetas span{
  padding-right: 20px;
}
.grid-item.special {
  grid-column-start: 1;
  grid-column-end: span 3;
  padding: 0 5px;
}
.grid-item.special p {
  text-align: justify;
}

.tags {
  font-size: 12px;
}
.text-content-2:last-of-type {
  border-bottom: 2px solid var(--frst);
}
.text-content-2 p {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;

  padding: 5px;
}

.project-name {
  font-size: 18px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.etiqueta {
  display: flex;
}
.HTML,
.CSS,
.Firebase,
.ReactJS,
.Angular,
.Tailwind,
.JavaScript,
.TypeScript,
.PHP,
.Bootstrap,
.MySQL,
.Node,
.Express {
  border-radius: 5px;

  padding: 0 1.5px;
  font-weight: 700;
}
.ReactJS {
  color: rgb(8, 178, 205);
}
.Angular {
  color: rgb(165, 11, 11);
}
.HTML {
  color: rgb(205, 72, 0);
}
.CSS {
  color: rgb(96, 123, 241);
}
.Firebase {
  color: rgb(230, 160, 56);

  font-weight: 600;
}
.Tailwind {
  color: rgb(15, 173, 144);
}
.JavaScript {
  color: rgb(226, 226, 10);

  font-weight: 600;
}
.TypeScript {
  color: rgb(68, 139, 219);
}
.PHP {
  color: rgb(165, 125, 205);
}
.Bootstrap {
  color: rgb(153, 86, 221);
}
.MySQL {
  font-weight: 600;
  color: white;
}
.Node {
  color: green;
}
.Express {
  color: black;
}
.description-2 {
  grid-column: 3;
  grid-row: 2;
  font-weight: lighter;
}

.description {
  font-size: 15px;
  margin-top: 10px;
  grid-column: 3;
  grid-row: 2;
  font-weight: lighter;
}

.company {
  padding-left: 15px;
}

.vertical-line {
  grid-column: 2;
  width: 2px;
  height: 320px;
  margin-left: 10px;
  background-color: var(--frst);
  transform: rotate(180deg);
  margin-left: 5px;
}

.vertical-line-2 {
  width: 2px;
  height: 120px;
  background-color: var(--frst);
  transform: rotate(180deg);
}

h5 {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  row-gap: 10px;
  align-items: center;
  flex-direction: column;
}

.buttons button {
  color: var(--frst);
  padding: 8px 10px;
  background-color: transparent;
  border: 3px solid var(--frst);
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
  width: max-content;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.buttons a button {
  padding: 8px 24px;
}

.text-content-3 {
  color: var(--p);
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
}

.level div {
  text-align: center;
}

.bi-star-fill {
  color: #beb507;
}

.languages {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttons button {
  z-index: 20;
}

.buttons button:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  transition: all 2850ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 1;
  transition-delay: 0.4s;
}

.buttons button:hover:after {
  left: 120%;
  transition: all 2850ms cubic-bezier(0.19, 1, 0.22, 1);
}

.labor,
.languages h5 {
  margin-top: 20px;
}

@media screen and (min-width: 350px) {
  .text-content {
    display: flex;
    justify-content: end;
    align-items: end;
  }

  .date-exp {
    padding-right: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
  }
}

@media screen and (min-width: 360px) {
  .text-content {
    display: grid;
    grid-template-columns: 0.75fr max-content 0.75fr;
    justify-content: start;
    align-items: start;
    padding-right: 5px;
  }

  .date-exp {
    padding-left: 40px;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
  }
}
@media screen and (min-width: 375px) {
  .personal {
    margin: 0 20px;
  }
}

@media screen and (min-width: 390px) {
  .date-exp {
    display: flex;
    justify-content: end;
    margin-right: 20px;
  }

  .description {
    font-weight: 100;
  }

  h5 {
    font-size: 22px;
  }
}
@media screen and (min-width: 412px) {
  .personal {
    margin: 0 30px;
  }
}

@media screen and (min-width: 540px) {
  .buttons {
    flex-direction: row;
    gap: 10px;
  }
}

.vertical-line {
  margin-left: 0;
}

img {
  width: 25px;
  height: auto;
  border: 1px solid #fff;
  border-radius: 30px;
}

.icons-lang {
  display: flex;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  .text-content,
  .text-content-2,
  .text-content-3,
  .description,
  .buttons button,
  .date-exp {
    font-size: 20px;
  }
  .text-content-2 {
    padding: 20px 0;
  }
  .company {
    font-size: 24px;
    margin-left: 15px;
  }

  .description-2 p {
    padding-right: 0;
  }

  h5 {
    font-size: 28px;
  }

  .company h6 {
    font-size: 25px;
  }

  p,
  .buttons {
    padding-left: 20px;
    gap: 10px;
  }

  .description {
    text-align: justify;
  }
  .project-name {
    font-size: 23px;
  }
  .tags {
    font-size: 16px;
  }
  .personal {
    margin: 0 50px;
  }
}

@media screen and (min-width: 820px) {
  .text-content-2 p {
    font-size: 25px;
  }

  .text-content-2 small {
    font-size: 18px;
  }
  .project-name{
    font-size:28px;
  }
}

@media screen and (min-width: 853px) {
  .text-content,
  .text-content-2,
  .text-content-3,
  .description,
  .buttons button,
  .date-exp {
    font-size: 23px;
  }

  .tags {
    font-size: 18px;
  }
  .project-name{
    font-size:27px;
  }
}

@media screen and (min-width: 912px) {
  .text-content,
  .text-content-3,
  .description,
  .date-exp {
    font-size: 25px;
  }

  .text-content-2 p {
    font-size: 18px;
  }

  .text-content-2 small {
    font-size: 22px;
  }

  .tags {
    font-size: 20px;
  }

  .vertical-line-2 {
    height: 180px;
  }

  h5 {
    font-size: 33px;
  }
}

@media screen and (min-width: 1024px) {
  .company {
    font-size: 29px;
  }

  h5 {
    font-size: 33px;
  }

  .text-content-2 button {
    font-size: 20px;
  }
  .project-name {
    font-size: 33px;
  }
  .tags {
    font-size: 25px !important;
  }

  .description-2 p {
    font-size: 26px;
    display: flex;
    padding-right: 0;
  }

  .personal {
    padding: 0 70px;
  }

  .date-exp {
    font-size: 30px;
  }

  .description,
  .text-content-2 small {
    font-size: 25px;
  }
  .buttons button {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .description{
    font-size:19px;
  }
  .project-name {
    font-size: 26px;
  }
  .tags {
    font-size: 15px !important;
  }
  .description-2 p {
    font-size: 20px;}
    .text-content-2{
      grid-template-columns: 0.35fr 0.35fr;
    }
}
