.content {
  display: flex;
  flex-direction: column;
}

.title-exp {
  display: flex;
  justify-content: center;
}

.date-exp-background{
  background-color: #712f45;
  border-radius: 5px;
  padding:5px;
}
.text-content {
  display: grid;
  grid-template-columns: 0.9fr max-content 0.9fr;
  justify-items: end;
  color: var(--p);
  margin: 0 10px 25px;
}

.company {
  padding-left: 15px;
}

.vertical-line {
  grid-column: 2;
  width: 2px;
  height: 100%;
  margin-left: 10px;
  background-color: var(--frst);
  transform: rotate(180deg);
  margin-left: 5px;
}

h5 {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.projects h5 {
  margin-bottom: 35px;
  margin-top: 40px;
}
 
img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
 
.bi-github,
.bi-browser-chrome {
  font-size: 18px;
  color: var(--p);
}

.proyectos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.proyectos h5{
  margin-bottom: 30px;
}
.projects-flex{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap:40px;
}
.angular-title,.react-title{
  display: flex;
  justify-content: center;

}
.project-react,.project-angular{
  background-color: var(--bg1);
  display: grid;
  grid-template-rows: 0.1fr 0.3fr 0.6fr 0.4fr 0.2fr;
  border-radius: 10px;
  padding-bottom: 30px;
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.project-angular:hover,.project-react:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
.project-technology{
  color:var(--p);
  padding:0 12px;

}
.project-technology span{
  color:var(--frst);
}
.icons-projects{
display: flex;
gap:10px;
justify-content: end;
height: 50px;
padding:0 15px;
position: absolute;
bottom: 0px;
right: 0;
margin: 10px;
}
 
.project-description{
  color:var(--p);
  padding:15px;
}

.bi-github, .bi-browser-chrome{
  font-size:35px;
}

ul li, .li-li-experience span {
  color:var(--frst)
}
ul.li-li-experience li {
  color: var(--p)
}


@media screen and (min-width:300px) and (max-width:500px) {
  ul,li{
    padding:0 !important;
    list-style: none;
  }
  ul.li-li-experience li::before{
    content: "-";
  }
  ul.li-li-experience-tech li::before{
    content: "";
  }
}
@media screen and (min-width: 350px) {
  .text-content {
    display: flex;
    justify-content: end;
    align-items: end;
  }

  .date-exp {
    display: flex;
    width: max-content;
    justify-content: start;
    align-items: start;
    text-align: center;
    margin-right: 20px;
  }
}

@media screen and (min-width: 360px) {
  .text-content {
    display: grid;
    grid-template-columns: 0.15fr max-content 0.95fr;
    justify-content: start;
    align-items: start;
    padding-right: 5px;
  }
}

@media screen and (min-width: 375px) {
  .text-content {
    grid-template-columns: max-content max-content 1fr;
  }
  .date-exp {
    display: flex;
    justify-content: end;
    margin-right: 20px;
  }
}

@media screen and (min-width: 390px) {
  h5 {
    font-size: 22px;
  }
}

@media screen and (min-width: 412px) {
  .text-content {
    grid-template-columns: 0.9fr max-content 0.9fr;
    justify-items: end;
  }
}

/* .vertical-line {
  margin-left: 0;
} */

@media screen and (min-width: 768px) {
  .text-content-3,
  .date-exp {
    font-size: 20px;
  }
  h5 {
    font-size: 28px;
  }
  .company h6 {
    font-size: 23px;
  }
  .company {
    font-size: 16px;
  }
  
  .project-description, .project-technology{
    font-size:20px;
  }
  .bi-github, .bi-browser-chrome{
    font-size:45px;
  }
  .project-react h4, .project-angular h4{
    font-size:30px;
    margin-top:10px;
   }
   .icons-projects{
    bottom: 20px;
   }

 
}

@media screen and (min-width: 853px) {
  .description,
  .date-exp {
    font-size: 23px;
  }
  .project-react,.project-angular{
    background-color: var(--bg1);
    display: grid;
    grid-template-rows: 0.2fr 0.3fr 0.4fr 0.1fr 0.2fr;}
 

}

@media screen and (min-width: 912px) {
  .text-content-3,
  .description {
    font-size: 24px;
  }

  .company h6 {
    font-size: 27px;
  }
  .company {
    padding-left: 25px;
  }
  .project-description, .project-technology{
    font-size:28px;
  }
  .bi-github, .bi-browser-chrome{
    font-size:50px;
  }

 
}
@media screen and (min-width: 1024px) {
  .company {
    font-size: 29px;
  }

  h5 {
    font-size: 33px;
  }

  .languages h5 {
    margin-bottom: 40px;
  }

  .description {
    font-size: 25px;
  }
.projects-flex{
  grid-template-columns: 1fr 1fr;
}


 .project-angular h4{
  margin-bottom:12px;
 }
  .project-react,.project-angular{
    background-color: var(--bg1);
    display: grid;
  
    grid-template-rows: 0.1fr 0.3fr 0.6fr 0.1fr 0.2fr;}
 .project-description, .project-technology{
  font-size:18px;
 }
 .bi-github, .bi-browser-chrome{
  font-size:35px;
 }
 .icons-projects{
  bottom: 0;
 }
}
 
@media screen and (min-width: 1200px) {
  .description, .date-exp {
    font-size: 17px;
  }

}
 
