hr {
  transform: rotate(90deg);
  color: #ef1b61;
  border-style: solid;
  border-width: 1px;
}

.content {
  display: flex;
  flex-direction: column;
}

.title-exp {
  display: flex;
  justify-content: center;
}

.text-content {
  display: grid;
  grid-template-columns: 0.75fr max-content 0.8fr;
  color: var(--p);
  margin: 0 10px 25px;
}

.text-content-2 {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  color: var(--p);
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--frst);
  margin-bottom: 10px;
  padding-top: 20px;
}

.etiquetas {
  display: grid;
  grid-template-columns: max-content max-content;
  margin-right: 10px;
}

.etiquetas span {
  padding-right: 20px;
}

.grid-item.special {
  grid-column-start: 1;
  grid-column-end: span 3;
  padding: 0 5px;
}

.grid-item.special p {
  text-align: justify;
}

.text-content-2:last-of-type {
  border-bottom: 2px solid var(--frst);
}

.text-content-2 p {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.project-name {
  font-size: 18px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.etiqueta {
  display: flex;
}

.HTML,
.CSS,
.Firebase,
.ReactJS,
.Angular,
.Tailwind,
.JavaScript,
.TypeScript,
.PHP,
.Bootstrap,
.MySQL,
.Node,
.Express {
  border-radius: 5px;
  padding: 0 1.5px;
  font-weight: 700;
}

.ReactJS {
  color: #08b2cd;
}

.Angular {
  color: #a50b0b;
}

.HTML {
  color: #cd4800;
}

.CSS {
  color: #607bf1;
}

.Firebase {
  color: #e6a038;
  font-weight: 600;
}

.Tailwind {
  color: #0fad90;
}

.JavaScript {
  color: #e2e20a;
  font-weight: 600;
}

.TypeScript {
  color: #448bdb;
}

.PHP {
  color: #a57dcd;
}

.Bootstrap {
  color: #9956dd;
}

.MySQL {
  font-weight: 600;
  color: #fff;
}

.Node {
  color: green;
}

.Express {
  color: #000;
}

.description-2 {
  grid-column: 3;
  grid-row: 2;
  font-weight: lighter;
}

.description {
  font-size: 15px;
  margin-top: 10px;
  grid-column: 3;
  grid-row: 2;
  font-weight: lighter;
}

.company {
  padding-left: 15px;
}

.vertical-line {
  grid-column: 2;
  width: 2px;
  height: 320px;
  margin-left: 10px;
  background-color: var(--frst);
  transform: rotate(180deg);
  margin-left: 5px;
}

h5 {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  row-gap: 10px;
  align-items: center;
  flex-direction: column;
}

.buttons button {
  color: var(--frst);
  padding: 8px 10px;
  background-color: transparent;
  border: 3px solid var(--frst);
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
  width: max-content;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  z-index: 20;
}

.buttons a button {
  padding: 8px 24px;
}

.text-content-3 {
  color: var(--p);
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: center;
  align-items: center;
}

.level div {
  text-align: center;
}

.bi-star-fill {
  color: #beb507;
}

.languages {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttons button:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  transition: all 2850ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 1;
  transition-delay: 0.4s;
}

.buttons button:hover:after {
  left: 120%;
  transition: all 2850ms cubic-bezier(0.19, 1, 0.22, 1);
}

.labor,
.languages h5 {
  margin-top: 20px;
}

@media screen and (min-width: 350px) {
  .text-content {
    display: flex;
    justify-content: end;
    align-items: end;
  }

  .date-exp {
    padding-right: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
  }
}

@media screen and (min-width: 360px) {
  .text-content {
    display: grid;
    grid-template-columns: 0.75fr max-content 0.75fr;
    justify-content: start;
    align-items: start;
    padding-right: 5px;
  }

  .date-exp {
    padding-left: 40px;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
  }
}

@media screen and (min-width: 375px) {
  .personal {
    margin: 0 20px;
  }
}

@media screen and (min-width: 390px) {
  .date-exp {
    display: flex;
    justify-content: end;
    margin-right: 20px;
  }

  .description {
    font-weight: 100;
  }

  h5 {
    font-size: 22px;
  }
}

@media screen and (min-width: 412px) {
  .personal {
    margin: 0 30px;
  }
}

@media screen and (min-width: 540px) {
  .buttons {
    flex-direction: row;
    gap: 10px;
  }
}

.vertical-line {
  margin-left: 0;
}

img {
  width: 25px;
  height: auto;
  border: 1px solid #fff;
  border-radius: 30px;
}

.icons-lang {
  display: flex;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  .text-content-3,
  .buttons button,
  .date-exp {
    font-size: 20px;
  }

  .description-2 p {
    font-size:20px;
  }

  h5 {
    font-size: 28px;
  }
  p,
  .buttons {
    padding-left: 20px;
    gap: 10px;
  }

  .description {
    text-align: justify;
  }

  .project-name, .company h6 {
    font-size: 23px;
  }

  .tags, .company {
    font-size: 16px;
  }

  .personal {
    margin: 0 50px;
  }
}

@media screen and (min-width: 820px) {
  .text-content-2 p {
    font-size: 25px;
  }

  .text-content-2 small {
    font-size: 18px;
  }

  .project-name {
    font-size: 28px;
  }
}

@media screen and (min-width: 853px) {
  .description,
  .date-exp {
    font-size: 23px;
  }

  .tags {
    font-size: 18px;
  }

  .project-name {
    font-size: 27px;
  }
}

@media screen and (min-width: 912px) {

 .text-content-2 p, .text-content-3, .description, .date-exp, .text-content-2 small {
    font-size: 24px;
  }
  .tags {
    font-size: 20px;
  }
.company h6{
  font-size:27px;
}
.company{
  padding-left:25px;
}
}
@media screen and (min-width: 1024px) {
  .company {
    font-size: 29px;
  }

  h5 {
    font-size: 33px;
  }

  .project-name {
    font-size: 33px;
  }

  .tags {
    font-size: 25px !important;
  }

  .description-2 p {
    font-size: 26px;
    display: flex;
    padding-right: 0;
  }

  .date-exp {
    font-size: 30px;
  }

  .description,
  .text-content-2 small {
    font-size: 25px;
  }
  .buttons button {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .project-name {
    font-size: 26px;
  }

  .tags {
    font-size: 15px !important;
  }

  .description-2 p, .description {
    font-size: 20px;
  }

  .text-content-2 {
    grid-template-columns: 0.35fr 0.35fr;
  }
}
