<div class="content">
  <div class="grid-template">
    <div class="title-exp">
      <h1>{{ "Experiencia" | translate }}</h1>
    </div>
    <div class="labor">
      <h5>{{ "Laboral" | translate }}</h5>
      <div class="text-content">
        <div class="date-exp">01/12/23 05/04/24</div>
        <div class="vertical-line"></div>
        <div class="company">
          <h6>TicSmart S.L</h6>
          <div class="description">{{ "Laboral texto" | translate }}</div>
        </div>
      </div>
    </div>

    <div class="personal">
      <h5>{{ "Personal" | translate }}</h5>
      <div class="text-content-2" *ngFor="let proyecto of proyectos">
        <p>
          {{ proyecto.nombre | translate }}
          <small class="tags"> {{ proyecto.etiquetas.join(" ") }}</small>
        </p>

        <div class="vertical-line-2"></div>
        <div class="buttons">
          <button class="border-transition" (click)="mostrarTexto(proyecto) ">
            <span >{{ "Descripción" | translate }}</span></button
          ><a href="{{ proyecto.githubUrl }}" target="_blank"
            ><button class="border-transition"><span>Github</span></button></a
          >
        </div>

        <div
          class="description-2"
          *ngIf="proyecto.mostrado && proyecto.descripcionKey"
        >
          <p>{{ proyecto.descripcionKey | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="languages">
    <h5>{{ "Idiomas" | translate }}</h5>
    <div class="text-content-3">
      <div class="level">
        <ng-container *ngFor="let idioma of idiomas">
          <div>{{ idioma.nombre | translate }}</div>
          <div [class]="'lvls' + idioma.puntuacion">
            <i
              class="bi bi-star-fill"
              *ngFor="let _ of generarEstrellas(idioma.puntuacion)"
            ></i>
            <br /><br />
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
