<div class="content">
  <div class="grid-template">
    <div class="title-exp">
      <h1>{{ "Experiencia" | translate }}</h1>
    </div>
    <div class="labor">
      <h5>{{ "Laboral" | translate }}</h5>
      <div class="text-content">
        <div class="date-exp">01-10-23 | 05-04-24</div>
        <div class="vertical-line"></div>
        <div class="company">
          <h6>TicSmart S.L</h6>
          <div class="description">{{ "Laboral texto" | translate }}</div>
        </div>
      </div>
    </div>
    <div class="projects">
      <h5>{{ "Ultimos Proyectos" | translate }}</h5>

     
      <div class="project-images">
   
        <div class="mayballine-project">
          <h4 class="react-title">React v.18</h4>
          <img src="../../../assets/imagenes/preview-mayballine.PNG" alt="">
          <div class="description-projects mayballine-description">
            {{"Descripcion mayballine" | translate}}
            <br/>
            <br />
            <div class="project-info maybellin-info">
        <div>
            <span>|</span> React <span>|</span> TypeScript
            <span>|</span> HTML
            <span>|</span> CSS <span>|</span> Bootstrap <span>|</span></div>
            <div class="icons-projects">


             <p><a href="https://github.com/vanemp21/Proyecto-Tienda--ReactTS"><i class="bi bi-github"></i></a></p>
             <p><a href="https://6649fb858c65b1b3094cdb24--resilient-unicorn-63de6d.netlify.app/"><i class="bi bi-browser-chrome"></i></a></p> 
            </div>
          </div>
        </div>
   </div>
  
        <div class="shop-project">
          <h4 class="angular-title">Angular v.16</h4>
          <img src="../../../assets/imagenes/preview-shop.PNG" alt="">
          <div class="description-projects">
            {{"Descripcion tienda angular" | translate}}
            <br/> <br />
            <div class="project-info">
            <div>
            <span>|</span> Angular <span>|</span> TypeScript
            <span>|</span> Firebase <span>|</span> Tailwind <span>|</span> HTML
            <span>|</span> CSS <span>|</span></div>
            <div class="icons-projects">
              <p><a href="https://github.com/vanemp21/Proyecto-Tienda-Completa--Angular"><i class="bi bi-github"></i></a></p>
             <p><a href="https://proyecto-tienda-completa-angular.vercel.app/"><i class="bi bi-browser-chrome"></i></a></p> 
            </div>
          </div>
          </div>

        </div>
 
      </div>
    </div>
    <div class="languages">
      <h5>{{ "Idiomas" | translate }}</h5>
      <div class="text-content-3">
        <div class="languages-grid">
          <span>{{ "Español" | translate }}</span>
          <span>{{ "Inglés" | translate }}</span>
          <span>{{ "Catalán" | translate }}</span>
          <span>{{ "Valenciano" | translate }}</span>
          <span>{{ "Alemán" | translate }}</span>
        </div>
        <div class="point-grid">
          <span>&#9679;--------&#9679;</span>
          <span>&#9679;--------&#9679;</span>
          <span>&#9679;--------&#9679;</span>
          <span>&#9679;--------&#9679;</span>
          <span>&#9679;--------&#9679;</span>
        </div>
        <div class="level-grid">
          <span>{{ "Nativo" | translate }}</span>
          <span>{{ "Intermedio" | translate }}</span>
          <span>{{ "Experto" | translate }}</span>
          <span>{{ "Experto" | translate }}</span>
          <span>{{ "Bajo" | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
