@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");

body {
  background-color: var(--bg2);
  color: var(--frst);
  font-family: "Signika Negative", sans-serif;
}
:root {
  --frst: rgb(175, 72, 106);
  --hr: rgb(239, 27, 97);
  --bg1: rgb(61, 62, 66);
  --bg2: rgb(49, 51, 59);
  --p: lightgray;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;

}
h1 {
  color: var(--p);
  font-weight: bold;
}
h5 {
  font-weight: bold;
  color: var(--frst);
  padding: 5px 0px;
}
.text-content-3 {
  color: white;
  display: grid;
  font-weight: 100;
  grid-template-columns: max-content max-content max-content;
  justify-content: center;
}
.languages {
  margin-bottom: 20px;
  width: 100%;
}
.languages-grid,
.level-grid,
.point-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.point-grid {
 display: flex;
 justify-content: center;
 align-items: center;
  color: var(--frst);
}
.level-grid{
  margin-left:30px;
}
.languages-grid{
  margin-right:20px;
}
.languages h5{
  margin-bottom: 20px;
  margin-left:-20px;
}